vb.py.zip
.DS_Store
__pycache__/
*.pyc
.env
venv
venvaxiom
.venv
package-lock.json
node_modules/
functions/node_modules/
functions/eldenearth-service-account.json
.firebaserc
.firebase
firestore.rules
functions/
server/
SCPR.md
PEER.md
storage.rules